html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background-color: gray;
}

.header {
  background-color: #4d4d4d;
  height:20%;
  width:100%;
}

.footer {
  background-color: black;
  height:10%;
  width:60%;
  clear:both;
  margin: 0 auto;
}

.article {
  height:80%;
  width: 60%;
  margin: 0 auto;
  background-color: white;
}
