html, body {
  height:600px;
  width:600px;
  margin: 0 auto;
  padding:0;
  background-color: #d8d8d8;
  border: 1px solid black;
}

.header {
  background-color: #444444;
  height:100px;
  width:600px;
}

.footer {
  background-color: #222222;
  height:50px;
  width:400px;
  clear:both;
  margin: 0 auto;
}

.article {
  height:450px;
  width: 400px;
  margin: 0 auto;
  background-color: white;
}
